<div class="background-image">
<div class="title">
	<div class="subtitle"> Aby kontynować </div>
	ZALOGUJ SIĘ
	<div class="next-to">
		<div class="subtitle">i ciesz się dostępem do &nbsp;</div>
		<div 
			class="link"
			routerLink="/"
            routerLinkActive="active"
		> Car Rental </div>
	</div>
</div>
<form class="form" #form="ngForm">
	<div class="field">
		<label class='label' for="user-name">Nazwa użytkownika</label>
		<div class="in-row">
			<input class="inputfield" 
			  type="text"
			  id="userName"
			  name="userName"
			  ngModel>
			<i class="icon fa-solid fa-user"></i>
		</div>
	</div>
	
	<div class="field">
		<label class='label' for="password">Hasło</label>
		<div class="in-row">
			<input class="inputfield" 
			  type="password" 
			  id="password" 
			  name="password"
			  ngModel>
			<i class="icon fa-solid fa-eye"></i>
		</div>
	</div>
	<div style="margin-left: 1vw;">
	<button class="button" value="Zaloguj" (click)="onSubmit()">Zaloguj</button>
	</div>
</form>
<div class="title">
	<div class="next-to">
		<div class="subtitle">Nie masz konta? &nbsp;</div>
		<div
			class="link"
			routerLink="/zarejestruj"
			routerLinkActive="active"
		> Zarejestruj się </div>
	</div>
</div>