<div class="car mb-3">
    <div class="row g-1">
        <div class="col-sm-7">
            <h6 class="card-title car-name">BMW M8 Competition</h6>
            <h6 class="price">od 1100zł/dzień</h6>
            <img src="/assets/BMW.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-sm-5">
            <div class="card-body">
                <div class="car-stats">
                    <p class="card-text">Silnik</p>
                    <p class="card-text">3.0 / 220hp</p>
                    <p class="card-text">All wheel</p>
                    <p class="card-text">od 0 do 100km/h</p>
                    <p class="card-text">2.3 s</p>
                </div>
                <div class="btns">
                    <button class="book-btn btn">Zarezerwuj</button><br>
                    <button class="car-details-btn btn">Więcej</button>
                </div>
            </div>
        </div>
    </div>
</div>