<div class="car mb-3">
    <div class="row g-1">
        <div class="col-sm-7">
            <h6 class="card-title car-name">{{ data.brand }} {{ data.name }}</h6>
            <h6 class="price">od {{ data.price }}zł/dzień</h6>
            <img src="/assets/BMW.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-sm-5">
            <div class="card-body">
                <div class="car-stats">
                    <p class="card-text">Silnik</p>
                    <p class="card-text">{{ data.engineCapacity | number : '1.1-2' }} / {{ data.horsePower }}hp</p>
                    <p class="card-text">{{ data.drive }}</p>
                    <p class="card-text">od 0 do 100km/h</p>
                    <p class="card-text">{{ data.timeFrom0To100 | number : '1.1-2' }} s</p>
                </div>
                <div class="btns">
                    <button class="book-btn btn">Zarezerwuj</button><br>
                    <button class="car-details-btn btn">Więcej</button>
                </div>
            </div>
        </div>
    </div>
</div>