<nav class="navbar navbar-expand-xl fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/logo3.png" alt="Logo" width="190" height="60">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" appCollapseWhenRouting>
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              Strona Główna
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dlaczego My?</a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link"
              routerLink="/samochody"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
              Samochody
            </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light" type = "button">Zaloguj</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-primary" type = "button">Zarezerwuj</button>
          </li>
          <ul class="navbar-nav text-center social-media">
            <li class="nav-image">
              <a class="nav-link" href="#">
              <img src="/assets/facebook.png" alt="Logo" width="30" height="30">
              </a>
           </li>
            <li class="nav-image">
              <a class="nav-link" href="#">
               <img src="/assets/instagram.png" alt="Logo" width="30" height="30">
              </a>
           </li>
            <li class="nav-image">
              <a class="nav-link" href="#">
               <img src="/assets/phone.png" alt="Logo" width="30" height="30">
             </a>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>