<div class="background-image">
<div class="title">
	<div class="subtitle">Dołącz do nas </div>
	STWÓRZ SWOJE KONTO
	<div class="next-to">
		<div class="subtitle">masz już swoje konto? &nbsp;</div>
		<div
			class="link"
			routerLink="/zaloguj"
            routerLinkActive="active"
		> Zaloguj się </div>
	</div>
</div>
<form class="form">
	<div class="field">
		<label class='label' for="email">E-mail</label>
		<div class="in-row">
			<input class="inputfield" type="text" id="email" name="email">
			<i class="icon fa-solid fa-envelope"></i>
		</div>
	</div>
	
	<div class="field">
		<label class='label' for="user-name">Nazwa użytkownika</label>
		<div class="in-row">
			<input class="inputfield" type="text" id="user-name" name="user-name">
			<i class="icon fa-solid fa-user"></i>
		</div>
	</div>
	
	<div class="field">
		<label class='label' for="password">Hasło</label>
		<div class="in-row">
			<input class="inputfield" type="password" id="password" name="password">
			<i class="icon fa-solid fa-eye"></i>
		</div>
	</div>
	
	<div class="in-row">
		<div class="field">
			<label class='label' for="name">Imię</label>
			<div class="in-row">
				<input class="inputfield" type="text" id="name" name="name">
				<i class="icon fa-solid fa-id-card"></i>
			</div>
		</div>
		<div class="field">
			<label class='label' for="surname">Nazwisko</label>
			<div class="in-row">
				<input class="inputfield" type="text" id="surname" name="surname">
				<i class="icon fa-solid fa-id-card"></i>
			</div>
		</div>
	</div>

	
	<div class="in-row">
		<div class="field">
			<label class='label' for="number">Numer telefonu</label>
			<div class="in-row">
				<input class="inputfield" type="text" id="number" name="number">
				<i class="icon fa-solid fa-phone"></i>
			</div>
		</div>

		<div class="field">
			<label class='label' for="card">Numer karty płatniczej</label>
			<div class="in-row">
				<input class="inputfield" type="text" id="card" name="card">
				<i class="icon fa-solid fa-credit-card"></i>
			</div>
		</div>
	</div>

	
	<label class="container" for="policy">
		<input class="hide" type="checkbox" id="policy" name="policy" value="accept"/>
		<span class="checkmark"></span>
		Przeczytałem(-łam) i akceptuję Warunki Korzystania z Usługi oraz Politykę Prywatności Car Rental.
	</label>

	<label class="container" for="newspaper">
		<input class="hide" type="checkbox" id="newspaper" name="newspaper" value="accept"/>
		<span class="checkmark"></span>
		Car Rental może wysyłać mi wiadomości e-mail z
		aktualizacjami, wskazówkami i specjalnymi ofertami. Możesz
		zrezygnować w każdej chwili.
		
	</label>
	
	<div style="text-align: center">
		<input class="button" type="submit" value="Zarejestruj">
	</div>
</form>
</div>