<div class="best-car-container">
    <img class="card-img-top" src="assets/bmw.png" alt="Card image cap">
    <div class="card-body">
        <h4><span class="brand">BMW</span> M8 Competition</h4>
        <p class="price">2200zł/dzień</p>
        <p class="card-text description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum rem distinctio iste minus corrupti porro
            quo. Sint laudantium dolore vitae ullam deserunt iusto officia delectus maiores, similique accusamus
            consequuntur quam quaerat porro eaque, repudiandae
        </p>
        <button [routerLink]="['/samochody', 'id']" class="book-btn btn">
            Zarezerwuj
        </button><br>
    </div>
</div>