.best-car-container {
    background-color: transparent;
    border-top: 5px solid #F2AA4CFF;
    border-radius: 5px;
    margin-top: 5rem;
}

.brand {
    text-decoration: underline #F2AA4CFF;
}

.book-btn {
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 7px;
    background-color: #F2AA4CFF;
    color: #fff;
}

.price {
    color: #F2AA4CFF;
    margin-bottom: 0px;
    margin-top: 0px;
}


@media only screen and (max-height: 620px) { 
    .description {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {

    .best-car-container {
        margin-top: 1rem;
    }
    
}

