<div class="test">
  <div class = "Title">Frequently Asked Questions</div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Ile kosztuje wynajęcie samochodu?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Cena wynajmu uzależniona jest od jego klasy.</strong> W najtańszej wersji koszty oscylują w granicach 75 złotych za dobę. Wartość ta maleje wraz z wydłużaniem się okresu korzystania z pojazdu, czyli przy podpisaniu umowy minimum na miesiąc, cena spadnie do 52 zł za każdy dzień.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Ile wynosi kaucja za wynajem auta?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Jej wysokość jest uzależniona od klasy samochodu. </strong> Kaucja przy wypożyczeniu samochodu wynosi zazwyczaj określony procent od wartości pojazdu, ale sam sposób naliczania kaucji jest ustalany indywidualnie. Jej wysokość uzależniona jest od marki i modelu auta. W naszej firmie nie naliczamy kaucji.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Czy samochody posiadają limit kilometrów?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Tak. Nasze pojazdy posiadają limit kilometrów, </strong> gdzie za każdy dodatkowy dystans naliczana jest kwota w wysokości od 50 gr do 3 zł brutto. Wszystko zależy jednak od klasy wybranego samochodu.
        </div>
      </div>
    </div>
</div>
</div>


