<div class="background-image"></div>
<div class="traits">
  <div class="trait">
    <div class="icon fa-solid fa-gauge-high"></div>
    <div class="description"> Szybkość </div>
  </div>
  <div class="trait">
    <div class="icon fa-solid fa-gears"></div>
    <div class="description"> Niezawodność </div>
  </div>
  <div class="trait">
    <div class="icon fa-solid fa-user-tie"></div>
    <div class="description">Elegancja</div>
  </div>
</div>
<div class="traits">
  <div class="trait">
    <div class="icon fa-solid fa-medal"></div>
    <div class="description"> Jakość </div>
  </div>
  <div class="trait">
    <div class="icon fa-solid fa-crown"></div>
    <div class="description"> Klasa </div>
  </div>
  <div class="trait" style="z-index: 15;">
    <div class="icon fa-solid fa-bolt"></div>
    <div class="description"> Moc </div>
  </div>
</div>
