.background-image {
    background-image: url('../../../assets/about-us-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 100vh;
}